@import '/src/styles/variable.scss';

.socialLinkIconItems {
	.socialmedia_color_1 {
		color: $color_1;
	}
	.socialmedia_color_2 {
		color: $color_2;
	}
	.socialmedia_color_3 {
		color: $color_3;
	}
	.socialmedia_color_4 {
		color: $color_4;
	}
	.socialmedia_color_5 {
		color: $color_5;
	}
	.socialmedia_color_6 {
		color: $color_6;
	}
	.socialmedia_color_7 {
		color: $color_7;
	}
	.socialmedia_color_8 {
		color: $color_8;
	}
}


.socialLinkColors {
	width: 2rem;
	height: 2rem;
	font-size: 1.8rem;
	border-radius: 0.4rem;
	background-color: $E6E6E6;
	text-align: center;
	line-height: 2.6rem;
	padding: 0.3rem;
	margin-right: 1rem;
}
