@charset "utf-8";
/* CSS Document */ :root {
  --primaryClr: 5, 59, 123;
  --textClr: #93959d;
}
body, html {
  -webkit-font-smmoothing: antialiased;
  width: 100%;
  height: 100%;
/*  scroll-behavior: smooth*/
}

.dropdown, [type=button], [type=reset], [type=submit], button, input, select {
  -webkit-appearance: none
}
h1, h2, h3, h4, h5 {
  margin-bottom: 0
}
a {
  cursor: pointer
}
.row.no_column > * {
  flex-shrink: inherit;
  width: auto;
}
body p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--textClr);
  font-family: Open Sans, sans-serif;
}
.section-5 .section-15 button i {
  font-size: 20px
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.main {
  background-color: rgba(var(--primaryClr),1);
  width: 100%;
  padding: 70px 0 0
}

video{
    max-width: 100%;
    height: auto;
}
.main-container {
  width: 500px;
  max-width: 100%;    
  background-color: #efefef;
  border-radius: 20px;
  margin: auto;
  position: relative;
  padding: 0 20px;
}
.help-block {
  color: #e63048
}
.section {
  -webkit-box-shadow: 0 33px 36px 0 rgba(var(--primaryClr),0.5);
  box-shadow: 0 0px 10px 0px rgba(var(--primaryClr),0.5);
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(var(--primaryClr),0.5);
}
.section.section-1 {
  margin-left: -20px;
  margin-right: -20px;
}
.brand_image {
  width: 200px;
  margin: auto auto 20px;
  display: table
}
.brand-img {
  width: auto;
  margin: auto;
  height: 120px;
  display: table-cell;
  vertical-align: middle
}
.img-logo {
  max-width: 150px;
  height: auto;
  width: 100%
}
.head-5 {
  font-size: 16px
}
.head-5, .head-6 {
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #202739
}
.head-6 {
  font-size: 18px;
  margin-bottom: 0
}
.link_title {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  display: block;
  color: var(--textClr);
  margin-bottom: 0;
}
.section-2 .icon-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  /* margin-top: 14px */
}
.main .icon-circle {
  display: inline-flex;
  height: 40px;
  border-radius: 50%;
  color: rgba(var(--primaryClr),1);
  font-size: 1.2rem;
  background: #e5ebf1;
  width: 40px;
  text-align: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .icon-circle img {
  width: 60%;
}
.main .section-2 .icon-circle {
  margin-bottom: 10px;
}
.main a.per_lin:hover .icon-circle, .main .round-bg:hover {
  background-color: rgba(var(--primaryClr),1);
  color: #ffffff;
}
.section-3 .personal_info {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 0 !important;
  border-top: 1px solid #efefef !important;
  color: var(--textClr);
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: auto;
  word-break: break-word;
  white-space: normal;
}
.section-3 .personal_info.border-top-0 {
  border-top: 0 !important;
}

.section-3 .personal_info .per_text {
  margin-left: 20px;
}
.section-3 a {
  display: block;
}
.bg-light {
  background-color: #efefef !important;
}
.p-relative {
  position: relative;
}
.section-3 .personal_info .per_link {
  border-top: 1px solid transparent !important;
}
.section-4 .row {
  margin: 0;
  flex-wrap: unset;
}
.section-4 .row .col-1 {
  display: none;
}
.section-4 .row .col-2 {
  max-width: 20%;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0;
  flex: unset
}
.section-16 .row {
  margin: 0;
  flex-wrap: unset
}
.section-16 .row .col-1 {
  display: none
}
.section-16 .row .col-2 {
  max-width: 20%;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0;
  flex: unset
}
form .form-group {
  margin-bottom: 20px;
}
form .form-control {
  border: 2px solid #ced4da;
  border-radius: 10px;
  padding: 14px 15px;
  font-size: 14px;
  color: var(--textClr);
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  width: 100%;
}
form .form-control:focus, form .textarea:focus {
  outline: 0;
  border-color: rgba(var(--primaryClr),1);
  box-shadow: 0 0 4px 0px rgba(var(--primaryClr),1);
}
.btn-group {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-primary {
  border: 1px solid rgba(var(--primaryClr),1);
  padding: 14px 15px;
  color: #fff;
  text-align: center;
  background: rgba(var(--primaryClr),1);
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  line-height: 1.4;
  font-weight: 500;
  max-height: 40px;

}
.btn-primary i {
  font-size: 16px !important;
  margin-right: 10px;
}
.btn-small {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  display: inline-block;
  margin: 5px;
  white-space: nowrap;
  font-weight: 500;
  width: auto;
}
.btn-primary:hover {
  border: 1px solid var(--primaryClr) !important;
  color: var(--primaryClr) !important;
  background-color: transparent !important
}
.main .btn:focus {
  -webkit-box-shadow: 0 0 0 !important;
  box-shadow: 0 0 0 !important;
  border-color: var(--primaryClr) !important
}
.btn-primary.btn-outline-primary {
  background-color: transparent;
  border: 1px solid var(--primaryClr) !important;
  color: var(--primaryClr) !important;
}
.btn-outline-primary:hover {
  background-color: var(--primaryClr) !important;
  color: #fff !important
}
h4.heading {
  font-size: 22px;
  color: #202739;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  letter-spacing: -.99px;
  margin-bottom: 25px;
}
.dropdown_menu {
  position: relative;
  cursor: pointer;
}
.dropdown_menu summary {
  appearance: none;
  justify-content: space-evenly;
}
.dropdown_menu summary i {
  margin-right: 0;
}
.dropdown_menu .dropdown_list {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(191, 191, 191, 0.5);
  width: 100%;
  padding: 10px;
  height: auto;
}
.dropdown_menu .dropdown_list .dropdown-item {
  display: block;
  padding: 8px 15px;
  line-height: 1;
  text-align: left;
  color: rgba(var(--primaryClr),1);
  font-family: Open Sans, sans-serif;
    border-radius: 25px;}
.dropdown_menu .dropdown_list .dropdown-item:hover, .dropdown_menu .dropdown_list .dropdown-item:focus {
  background-color: rgba(var(--primaryClr),1);
  color: #fff;
}
.dropdown_menu .dropdown_list .dropdown-item i {
  font-size: 1.4rem !important;
  margin-right: 10px;
  width: 20px;
  text-align: center;
}
.section-6 .gst-text {
  text-align: center;
  font-weight: 600;
}
.section-6 p {
  text-align: justify
}
.section-6 .gst-text {
  margin-bottom: 0;
  border-top: 1px solid #efefef;
  padding-top: 25px;
  color: #202739;
  font-size: 18px
}
.product-image {
  height: auto;
  width: 100%;
  background-color: rgba(var(--primaryClr),1);
  margin-bottom: 5px
}
.section-7 .para-1 {
  font-size: 14px;
  text-transform: capitalize;
}
.section-7 .para-1, .section-7 .para-2 {
  color: #202739;
  font-weight: 600;
  margin-bottom: 10px
}
.section-7 .para-2 {
  font-size: 14px
}
.section-7 .para-2 span {
  color: var(--textClr);
  margin-left: 5px;
  text-decoration: line-through
}
.sectiones-flex {
  display: flex;
  justify-content: flex-start
}
.section-8 .fa-icon-text {
  font-size: 17px;
  color: #202739;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  display: inline-flex;
  margin-bottom: 0;
  align-items: center;
}
.section-8 .fa-icon-text .icon-circle {
  margin-right: 15px;
}
.gallery-image {
  /* height: 120px; */
  width: 100%;
  background-color: rgba(var(--primaryClr),1);
  margin-bottom: 15px;
}
.gallery-image img {
  height: 100%;
  width: 100%;
}
.video-image {
  height: 120px;
  width: 100%;
  background-color: rgba(var(--primaryClr),1);
  margin-bottom: 15px;
  border-radius: 15px;
}
.section-8 .doc {
  border-top: 1px solid #efefef !important;
  padding: 10px 0;
}
.section-8 .doc .btn-group {
  
justify-content: flex-end;
}
.section-10 iframe {
  width: 100%
}
.section-13 iframe {
  width: 100%;
  height: 250px
}
.section-15 .form-control::-webkit-input-placeholder {
  color: var(--textClr)
}
.section-15 .form-control:-ms-input-placeholder {
  color: var(--textClr)
}
.section-15 .form-control::placeholder {
  color: var(--textClr)
}
.section-16 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: sticky;
  bottom: 0;
  z-index: 1;
  /* width: 100%; */
  margin-left: -20px;
  margin-right: -20px;
}
.section-16 .link_title {
  font-size: 12px;
  margin-top: 4px;
}
.carousel-control-next-icon {
  background-image: url(/_next/static/media/right_arrow.5be63c5efe78f25afa61c10f67e75bf6.png) !important;
  width: 14px !important
}
.carousel-control-prev-icon {
  background-image: url(/_next/static/media/left-arrow.4b0d13d1288074a186ee4e252a1225b4.png) !important;
  width: 14px !important
}
.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important
}
.carousel-control-prev {
  left: -32px !important
}
.carousel-control-next {
  right: -32px !important
}
.footer img {
  margin-top: -6px;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}
.small-logo {
  width: 100%;
  height: 75px
}
.small-logo img {
  width: 100%;
  height: 100%
}
.main .dropdown-toggle:after {
  color: rgba(var(--primaryClr),1);
  margin-left: 10px
}
.form-control {
  word-break: break-word;
  white-space: normal
}
.form-control:disabled, .form-control[readonly] {
  background-color: #fff !important
}
.section-8 .btm-90 {
  padding-bottom: 35px;
  margin-bottom: 25px
}
.section-8 .border-btm:last-child {
  border-bottom: 0
}
.product-image img {
  width: 100%;
  height: 100%
}
.main .carousel-control-next-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.main .carousel-control-next-icon, .main .carousel-control-prev-icon {
  background-image: url(/_next/static/media/left-arrow-main.a98bf3be9688c27b9d71e5a497e34dd2.png) !important;
  width: 14px !important
}
.main .round-bg.tweet img {
  top: 16px
}
.main .round-bg.round-bg.youtube img {
  height: 16px;
  top: 18px
}
.main .section-4 .round-bg:hover i {
  color: #ac1a2d
}
.pagination {
  width: 100%;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}
.pagination li {
  border-radius: 4px;
  margin-right: 8px;
  border: 1px solid rgba(var(--primaryClr),1);
  color: var(--primaryClr)
}
.pagination li a {
  color: rgba(var(--primaryClr),1);
  display: inline-flex;
  padding: 3px 9px;
  min-width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}
.pagination li:hover {
  background: rgba(var(--primaryClr),1);
  color: #fff;
  border: 1px solid var(--primaryClr)
}
.pagination li:hover a {
  color: #fff
}
.pagination li.active {
  background: rgba(var(--primaryClr),1);
  color: #fff;
  border: 1px solid var(--primaryClr)
}
.pagination li.active a {
  color: #fff
}
.pagination li.disabled {
  background: #ededee;
  color: #fff;
  cursor: not-allowed;
  border: 1px solid #ededee
}
.pagination li.disabled a {
  color: #fff
}
.pagination li.disabled a:hover {
  cursor: not-allowed
}
.main .pagination li {
  border: 1px solid rgba(var(--primaryClr),1);
  color: rgba(var(--primaryClr),1);
}
.main .pagination li a {
  color: rgba(var(--primaryClr),1);
}
.main .pagination li:hover {
  background: rgba(var(--primaryClr),1);
  color: #fff;
  border: 1px solid var(--primaryClr)
}
.main .pagination li:hover a {
  color: #fff
}
.main .pagination li.active {
  background: rgba(var(--primaryClr),1);
  color: #fff;
  border: 1px solid rgba(var(--primaryClr),1);
}
.main .pagination li.active a {
  color: #fff
}
.main .pagination li.disabled {
  background: #ededee;
  color: #fff;
  cursor: not-allowed;
  border: 1px solid #ededee;
}
.main .pagination li.disabled a {
  color: #898989;
}
.main .pagination li.disabled a:hover {
  cursor: not-allowed;
}
.row.no-gutter {
  margin: 0;
}
.payment_detail_sec .row.no-gutter {
  align-items: center;
}
.payment_detail_sec .payment_label {
  font-size: 14px;
  color: var(--textClr);
  font-family: Open Sans, sans-serif;
  width: auto;
  margin-left: 15px;
}
.owl-carousel .owl-dots{
    display: none;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: calc(50% - 17px);
  transform: translateY(-50%);
  font-size: 50px;
  color: rgba(var(--primaryClr),1);
}
.owl-carousel .owl-nav button.owl-next {
  right: -10px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: -10px;
}

@media(max-width:575px){
    .main{
        padding-top: 0;
    }
    .section.section-1{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media(max-width:320px){
      body p {
        font-size: 14px;
    }
    .link_title,
.section-16 .link_title {
    font-size: 10px;
    }
  
}