@font-face {
  font-family: 'GothamRounded-Bold';
  src: url('GothamRounded-Bold.eot');
  src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
       url('GothamRounded-Bold.ttf') format('truetype'),
       url('GothamRounded-Bold.woff') format('woff'),
       url('GothamRounded-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'GothamRoundedBook';
  src: url('GothamRoundedBook.eot');
  src: url('GothamRoundedBook.eot?#iefix') format('embedded-opentype'),
       url('GothamRoundedBook.ttf') format('truetype'),
       url('GothamRoundedBook.woff') format('woff'),
       url('GothamRoundedBook.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'GothamRoundedMedium';
  src: url('GothamRoundedMedium.eot');
  src: url('GothamRoundedMedium.eot?#iefix') format('embedded-opentype'),
       url('GothamRoundedMedium.ttf') format('truetype'),
       url('GothamRoundedMedium.woff') format('woff'),
       url('GothamRoundedMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
 font-display: swap;
}
@font-face {
  font-family: 'GothamRoundedLight';
  src: url('GothamRoundedLight.eot');
  src: url('GothamRoundedLight.eot?#iefix') format('embedded-opentype'),
       url('GothamRoundedLight.ttf') format('truetype'),
       url('GothamRoundedLight.woff') format('woff'),
       url('GothamRoundedLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
 font-display: swap;
}



