@charset "utf-8";
/* CSS Document */

@media (max-width: 1199px) {


}
@media (max-width: 991px) {
.navbar .nav-link{
    color: #fff;    
}
  .navbar .navbar-nav {
   margin: 0;
}
.profile_for .profile_for_content {
    padding: 2rem 0rem;
}
}
@media (min-width: 768px) and (max-width: 991px) {


}

@media (max-width: 767px) { 
.navbar .nav-item.active .nav-link, .navbar .nav-item:hover .nav-link {
  color: var(--color-200);
}	
.content-col {
    margin-bottom: 5rem;
}
.pt-140 {
  padding-top: 5rem;
}
.pb-140 {
  padding-bottom: 5rem;
}
.mt-140 {
  margin-top: 5rem;
}
.mb-140 {
  margin-bottom: 5rem;
}
.free_trial .img-col{
        display: none;
}
.testimonial_container .content-col {
    padding-right: 1.5rem;
    border-right: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
 }

.testimonial_container .slider-col {
    padding-left: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
 .testimonial_container, 
.testimonial_container .hedding h3,
.testimonial_container .hedding h4 {
    text-align: center;
}
.testimonial_container .slider-col .comment-by {
    justify-content: center;
}
.copyright-footer .right-col p,
.copyright-footer p{
  text-align: center;
  margin-bottom: 1rem;
}
.copyright-footer .right-col img{
    display: table;
    margin: 2rem auto 0;
}
.back_to_top{
  bottom: 3rem;
  right: 2rem;
}
.login_menu{
  margin-left: auto;
}
.navbar .navbar-toggler {
   margin-left: 10px;
 }
.navbar .nav-item {
    margin: 4% 0;
}
.navbar .nav-link {
	font-size: 2.5rem;
	}
	
}

@media (max-width: 767px) and (orientation: landscape) { 


}
@media (max-width: 575px) {

#get-in-touch .site_btn{
  width: 100%;
}
.mobile_mockup{
  min-height: 61.9rem;
}
}


