.diamond {
  font-size: 100% !important;
  line-height: 1.5 !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-feature-settings: normal !important;

  .diamondLoading {
    body {
      background: #17212b;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg.loading {
      overflow: visible;
      width: 8rem;
      height: 8rem;
    }

    .loading__stroke {
      stroke-width: 0.125rem;
    }
  }

  body {
    font-family: "Inter", sans-serif !important;
    margin: 0 !important;
    line-height: inherit !important;
    background-color: white;
  }

  .owl-carousel,
  .owl-carousel .owl-dots.disabled {
    display: block;
  }

  .activeDiamondMenu {
    color: black;
    font-weight: bold;
    transition: all 0.3 ease;
  }

  *::-webkit-scrollbar {
    width: 11px;
    background-color: #c0bebe;
    border: 2px solid #e4e6ef;
  }
  *::-webkit-scrollbar-track {
    background-color: #e4e6ef;
    border: 2px solid #e4e6ef;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #c0bebe;
    border-radius: 10px;
  }
}

.diamond.dark {
  .activeDiamondMenu {
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.3 ease;
  }

  *::-webkit-scrollbar {
    width: 11px !important ;
    background-color: grey !important ;
    border: 2px solid #1d2144 !important ;
  }
  *::-webkit-scrollbar-track {
    background-color: #1d2144 !important ;
    border: 2px solid #1d2144 !important ;
  }
  *::-webkit-scrollbar-thumb {
    background-color: grey !important ;
    border-radius: 10px !important ;
  }
}

.diamond.light {
  .activeDiamondMenu {
    color: black;
    font-weight: bold;
    transition: all 0.3 ease;
  }

  *::-webkit-scrollbar {
    width: 11px;
    background-color: #c0bebe !important;
    border: 2px solid #e4e6ef !important;
  }
  *::-webkit-scrollbar-track {
    background-color: #e4e6ef !important;
    border: 2px solid #e4e6ef !important;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #c0bebe !important;
    border-radius: 10px !important;
  }
}

.dark .dark\:bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(9 14 52 / var(--tw-bg-opacity)) !important;
}
