.owl-carousel {
  .owl-nav {
    button.owl-next {
      position: absolute;
      top: calc(50% - 17px);
      transform: translateY(-50%);
      font-size: 150px;
      color: rgba(var(5, 59, 123), 1);
      right: -20px;
    }
    button.owl-prev {
      position: absolute;
      top: calc(50% - 17px);
      transform: translateY(-50%);
      font-size: 150px;
      color: rgba(var(5, 59, 123), 1);
      left: -20px;
    }
  }
}

.owl-nav {
  font-size: 60px;
  color: #053b7b;
}

.goldVariants {
  .owl-dots {
    button.owl-dot.active {
      background: #e04343 !important;
      transform: scale(1.2);
    }
    button.owl-dot {
      &:hover {
        background: #e04343 !important;
        transform: scale(1.2);
      }
      width: 13px !important;
      height: 13px !important;
      display: inline-block !important;
      background: #5c696a !important;
      background: #fff !important;
      cursor: pointer !important;
      text-indent: -9999px !important;
      border-radius: 20px !important;
      margin: 0 0.5rem !important;
      border: 3px solid #c9cbca !important;
      &:focus {
        outline: none !important;
      }
    }
  }

  .owl-theme {
    .owl-dots {
      .owl-dot {
        display: inline-flex !important;
      }
    }
  }
}

.gold_testimonial {
  position: relative;
  background: center / cover url("/assets/themes/gold/clients.png") no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 11 11 / 71%);
  }

  .owl-theme .owl-dots {
    text-align: left !important;
  }

  .owl-dots button.owl-dot.active,
  .owl-dots button.owl-dot:hover {
    background: #ffe800 !important;
    transform: scale(1.2);
  }

  .owl-dots button.owl-dot {
    width: 13px !important;
    height: 13px !important;
    display: inline-block !important;
    background: #ffffff !important;
    cursor: pointer !important;
    text-indent: -9999px !important;
    border-radius: 20px !important;
    margin: 0 0.5rem !important;
    border: none !important;
  }

  .owl-dots button.owl-dot:focus {
    outline: none; // Remove focus outline
  }
}
