.platinumHtml {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 540px) {
      max-width: 540px;
    }

    @media (min-width: 720px) {
      max-width: 720px;
    }

    @media (min-width: 960px) {
      max-width: 960px;
    }

    @media (min-width: 1140px) {
      max-width: 1140px;
    }

    @media (min-width: 1320px) {
      max-width: 1320px;
    }
  }
}
