.platinum {
  font-family: "Nunito", sans-serif;
  color: #747e88;
  tab-size: 4;
  scroll-behavior: smooth;
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: bold;
    margin: 0;
    color: black;
  }

  ul {
    li {
      font-size: 16px;
    }
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 540px) {
      max-width: 540px;
    }

    @media (min-width: 720px) {
      max-width: 720px;
    }

    @media (min-width: 960px) {
      max-width: 960px;
    }

    @media (min-width: 1140px) {
      max-width: 1140px;
    }

    @media (min-width: 1320px) {
      max-width: 1320px;
    }
  }
}