.platinumHtml {
  .testimonialClientText {
    color: #f94f4f !important;
  }

  .owl-dots {
    button.owl-dot.active {
      background: #fe4777 !important;
      transform: scale(1.2);
    }
    button.owl-dot {
      &:hover {
        background: #fe4777 !important;
        transform: scale(1.2);
      }
      width: 13px !important;
      height: 13px !important;
      display: inline-block !important;
      background: #5c696a !important;
      background: #fff !important;
      cursor: pointer !important;
      text-indent: -9999px !important;
      border-radius: 20px !important;
      margin: 0 0.5rem !important;
      border: 3px solid #c9cbca !important;
      &:focus {
        outline: none !important;
      }
    }
  }

  .owl-theme {
    .owl-dots {
      .owl-dot {
        display: inline-flex !important;
      }
    }
  }

  .gold_testimonial {
    position: relative;
    background: center / cover url("/assets/themes/gold/clients.png") no-repeat;
    &::before {
      content: "" !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(139 62 62 / 62%) !important;
    }

    .owl-theme .owl-dots {
      text-align: left !important;
    }

    .owl-theme .owl-dots .owl-dot span {
      display: none !important;
    }

    .owl-dots button.owl-dot.active,
    .owl-dots button.owl-dot:hover {
      background: #f94f4f !important;
      transform: scale(1.2);
    }

    .owl-dots button.owl-dot {
      width: 13px !important;
      height: 13px !important;
      display: inline-block !important;
      background: #ffffff !important;
      cursor: pointer !important;
      text-indent: -9999px !important;
      border-radius: 20px !important;
      margin: 0 0.5rem !important;
      border: none !important;
    }

    .owl-dots button.owl-dot:focus {
      outline: none; // Remove focus outline
    }
  }

  .goldContactLinks {
    background-color: white;
    color: #f94f4f;
    padding: 4px;
    transition: all 300ms ease;
    border: #f94f4f dotted 1px;
    &:hover {
      svg{
        color: #fffefe;
      }
      border: white dotted 1px;
      transform: scale(1.2);
    }
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 540px) {
      max-width: 540px;
    }

    @media (min-width: 720px) {
      max-width: 720px;
    }

    @media (min-width: 960px) {
      max-width: 960px;
    }

    @media (min-width: 1140px) {
      max-width: 1140px;
    }

    @media (min-width: 1320px) {
      max-width: 1320px;
    }
  }

  @media (min-width: 850px) {
    .cardShadowBorder {
      transition: all 500ms ease-in-out;
      box-shadow: none;
      &:hover {
        box-shadow: 7px 6px 8px 0px #dfd9d9 !important;
        transform: translate(0, -15px);
      }
    }
  }
}
