$primaryMain: #d8e3e7;
$secondaryMain: #126e83;
$infoLight: #f3f3f3;
$E6E6E6: #e6e6e6;
$color_1: #3b5999;
$color_2: #e4405f;
$color_3: #0077b5;
$color_4: #55acee;
$color_5: #25d366;
$color_6: #bd081c;
$color_7: #0088cc;
$color_8: #cd201f;