@charset "utf-8";
/* CSS Document */ :root {
  --primary: #3baa96;
  --secondary: #f7fffe;
  --textClr: #666666;
  --titleClr: #1a1a1a;
  --white: #fffff;
  --black: #00000;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.textClr {
  color: var(--textClr);
}
.titleClr {
  color: var(--titleClr);
}
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
html {
  font-size: 62.5%;
  transition: all 0.3s linear;
}
body {
  color: var(--textClr);
  background-color: var(--secondary);
  font-family: sans-serif;
}
body, p, ul li, dt, dd {
  font-family: Gill Sans, sans-serif
}
p, ul li, dt, dd {
  font-size: 1.6rem;
  color: var(--color-400);
  line-height: 1.5;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  color: var(--color-400);
}
h1, .h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}
h2, .h2 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
}
h3, .h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
}
h4, .h4 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3;
}
h5, .h5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
}
h6, .h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}
.pt-30 {
  padding-top: 4rem;
}
.pb-30 {
  padding-bottom: 4rem;
}
.mt-30 {
  margin-top: 4rem;
}
.mb-30 {
  margin-bottom: 4rem;
}
.container-fluid {
  width: 575px;
  max-width: 100% !important;
}
.profile-section .container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.profile-section {
  background-color: var(--primary);
  height: 50vh;
  position: sticky;
  top: 0;
  z-index: -1;
}

.profile-section .profile-row {
  min-height: 19.3rem;
}
.store-logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem;
}
.profile-section {
  color: #ffffff;
  margin-bottom: -4rem;
}
body, .profile-body {
  background-color: var(--secondary);
  border-radius: 4rem 4rem 0 0;
}
.contact-link {
  margin-bottom: 2rem;
}
.link-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  background-color: rgba(59, 170, 150, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.link-icon i {
  font-size: 3rem;
  color: var(--primary);
}
.contact-link p {
  text-align: center;
}
/*call-icon*/
.contact-link .call-icon {
  background-color: rgba(245, 125, 0, 0.20);
}
.contact-link .call-icon i {
  color: #f57d00;
}
/*whatsapp-icon*/
.contact-link .whatsapp-icon {
  background-color: rgba(37, 211, 102, 0.2);
}
.contact-link .whatsapp-icon i {
  color: #25D366;
}
/*location-icon*/
.contact-link .location-icon {
  background-color: rgba(205, 32, 31, 0.2);
}
.contact-link .location-icon i {
  color: #cd201f;
}
/*share-icon*/
.contact-link .share-icon {
  background-color: rgba(0, 126, 229, 0.2);
}
.contact-link .share-icon i {
  color: #007ee5;
}
/*save-icon*/
.contact-link .save-icon {
  background-color: rgba(249, 72, 119, 0.2);
}
.contact-link .save-icon i {
  color: #f94877;
}
#wtsp_share {
  border-radius: 1rem;
  height: 6rem;
  display: flex;
  background-color: rgb(232, 246, 243);
  align-items: center;
  padding-left: 1.5rem;
  overflow: hidden;
}
#wtsp_share label {
  font-size: 1.8rem;
  color: #000000;
  width: 30px;
}
#wtsp_share input {
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 1.5rem .5rem;
  font-size: 2rem;
}
#wtsp_share .wtsp_share_btn {
  width: 10.5rem;
  height: 6rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  background-color: #25D366;
  border: 0;
}
#wtsp_share .wtsp_share_btn i {
  margin-left: 0.5rem;
}
input:focus, textarea:focus, a:focus, button:focus {
  outline: 0;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-links .social-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 5rem;
  border-radius: 1rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1.5rem;
}
.social-links .social-link.fb-icon {
  background-color: #3b5999;
}
.social-links .social-link.twt-icon {
  background-color: #55acee;
}
.social-links .social-link.insta-icon {
  background-color: #e4405f;
}
.social-links .social-link.in-icon {
  background-color: #0077B5;
}
.social-links .social-link.yt-icon {
  background-color: #cd201f;
}
.social-links .social-link.tele-icon {
  background-color: #0088CC;
}
.social-links .social-link.tumblr-icon {
  background-color: #34465d;
}
.block-title {
  background-color: var(--primary);
  padding: 1rem;
  margin-left: -12px;
  margin-right: -12px;
}
.block-title h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  text-transform: capitalize;
}
.content-box {
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.3);
  padding: 2rem;
  overflow: hidden;
}
.about-block .content-box {
  text-align: center;
}
.about-block .content-box p:last-child {
  margin-bottom: 0;
}
.owl-carousel .content-box {
  margin: 1.5rem 1rem;
  min-height: 31.32rem;
}
.product-slider .owl-item:not(.center) .item {
  transform: scale(0.9);
  transition: all 0.3s linear;
}
.product-box .product-img {
  text-align: center;
  height: 19rem;
  margin-bottom: 1rem;
}
.product-box .product-img img {
  width: auto;
  height: 100%;
}
.product-box .product-info {
  text-align: center;
}
.product-box .product-info .product-title {
  font-weight: 400;
  color: var(--primary);
}
.product-box .product-info .product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 37.5rem;
}
.product-box .product-action {
  margin-top: 1rem;
}
.product-box .product-action .product-price {
  font-size: 2rem;
  color: var(--primary);
}
.product-box .product-action .site_btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: #fff;
  text-align: center;
  background-color: var(--primary);
  border-radius: 0.8rem;
}
/*services*/
.services-slider .services-box {
  padding-top: 0;
  min-height: 31.319rem;
}
.services-slider .services-box .services-img {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
}
.services-slider .owl-item:not(.center) .item {
  transform: scale(0.9);
  transition: all 0.3s linear;
}

.gallery-slider .gallery-box {
  min-height: 3.4rem;
}

.pay-detail dt, .pay-detail dd {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.6em;
}
.pay-detaildd {
  color: var(--textClr);
}
.pay-detail dt {
  clear: both;
  margin-right: 0.5em;
  padding: 0;
  font-weight: 600;
  color: var(--titleClr);
}
.payment-info-block .pay-detail {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px rgb(128 128 128 / 30%);
  padding: 1.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}
.payment-info-block .pay-detail .link-icon {
  margin: 0;
}
.payment-info-block .pay-detail .link-icon img {
  width: 3.5rem;
  height: auto;
}
.payment-info-block .pay-detail .app-name {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1rem;
}
.payment-info-block .pay-detail .pay-info {
  margin-left: 1.5rem;
}
.bank-info dl {
  margin-top: 1.5rem;
}
.bank-info dt {
  font-weight: 500;
}
.bank-info dd {
  color: var(--titleClr);
  margin-bottom: 1rem;
}
.bank-info dl dd:last-child {
  margin-bottom: 0;
}
/*comments*/
.comments {
  margin-bottom: 3rem;
}
.comments .comment-item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1.5rem;
}
.comments .comment-item .user-name {
  text-transform: capitalize;
}
.comments .comment-item .ratings {
  margin-bottom: 1rem;
}
.comments .comment-item .ratings .rat-stars {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.comments .comment-item .rat-stars i {
  font-size: 1.5rem;
  color: #ff9e00;
}
.comments .comment-item .comment-date {
  font-size: 1.4rem;
  vertical-align: middle;
}
.comments .comment-item .comment-text {
  color: #000;
}
#feedback-form {
  margin-top: 2rem;
}
#feedback-form .star-ratings {
  direction: ltr;
  text-align: center;
}
#feedback-form .star-ratings input[type="radio"] {
  display: none;
}
#feedback-form label {
  color: #ccc;
}
#feedback-form .star-ratings label:hover, l#feedback-form .star-ratings label:hover ~ label {
  color: #ff9e00;
}
#feedback-form .star-ratings input[type="radio"]:checked ~ label {
  color: #ff9e00;
}
.form input:not([type="radio"]), .form textarea {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: rgb(240, 245, 249);
  width: 100%;
  min-height: 5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  max-height: 375px;
  margin-bottom: 1.5rem;
}
form .submit-btn {
  width: 100%;
  max-height: 375px;
  background-color: #4d4d4d;
  text-align: center;
  padding: 1.4rem 2rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  border: 0;
  border-radius: 1rem;
  color: #ffffff;
}
.direction-block {
  margin-bottom: 2rem;
}
.fixed-bottom {
  position: sticky;
  bottom: 0;
  z-index: 99999;
}
.bottom-nav {
  list-style: none;
  border-radius: 3rem 3rem 0 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px rgb(128 128 128 / 30%);
  padding: 2rem 1.5em 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}
.bottom-nav .site-link {
  display: block;
  text-align: center;
  color: #818181;
}
.bottom-nav .site-link i {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: var(--primary);
  opacity: 0.5;
  transition: all 0.3s linear;
}
.bottom-nav .site-link.active i {
  opacity: 1;
}
.bottom-nav .site-link span {
  display: block;
  font-size: 1.2rem;
}
.bottom-nav .back_to_top i {
  color: #000;
}
.bottom-nav .back_to_top:focus i,
.bottom-nav .back_to_top:hover i {
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
  --primary: #3baa96;
  : #f7fffe;
  --textClr: #666666;
  --titleClr: #1a1a1a;
  --white: #fffff;
  --black: #00000;

*/
/**/
@media (max-width: 321px) {
  .profile-section {
    height: 66vh;
  }
  .product-box .product-info .product-action {
    display: block;
  }
  .product-box .product-action .site_btn {
    margin-top: 1rem;
  }
}