@charset "utf-8";
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
[class*=col-] {
  padding: 0 12px;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.clear-fix {
  clear: both;
  float: none;
}
@media only screen and (max-width: 575px) {
  [class*=col-] {
    width: 100%;
  }
}
.container, .container-fluid {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.no-wrap {
    flex-wrap: nowrap!important;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
a {
  transition: all 0.3s linear;
  text-decoration: none !important;
}
a:focus {
  outline: 0;
}
a, span {
  display: inline-block
}
.container .pimg-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: auto;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.text-center {
  text-align: center !important;
}
.d_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol, ul {
  padding-left: 2rem;
}
img, svg {
  vertical-align: middle;
}
.w-100{
width: 100%;
  }
 .h-100{
 height: 100%;

  }
.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.view {
  overflow: hidden;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: .5rem !important;
}
.mt-1 {
  margin-top: .25rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: .5rem !important;
}
.mb-1 {
  margin-bottom: .25rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right:  0 !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-2 {
  padding-top: .5rem !important;
}
.pt-1 {
  padding-top: .25rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: .5rem !important;
}
.pb-1 {
  padding-bottom: .25rem !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pl-0 {
  padding-left:  0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.d-block {
  display: block !important;
}
.d-table {
  display: table !important;
}
.d-none {
  display: none !important;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer
}
form .submit_btn {
  padding: 8px 25px;
  min-height: 50px;
  min-width: 200px;
  background-color: #e54d42;
  border-radius: 6px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #e54d42;
  transition: all .5s;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1480px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1800px;
  }
}


.btn {
    background: none;
    border: none;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-family:  sans-serif;
    font-size:1.8rem;
    line-height: 1.5;
    padding: 1.2rem 2.4rem;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s linear;
    vertical-align: middle;
    white-space: nowrap;
}