@import "/src/styles/variable.scss"; 

.howItsWorks {
	>ol {
		list-style: revert;
	}
	>ul {
		li {
			display: flex;
			align-items: center;
			&::before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 0.8rem;
				height: 0.8rem;
				border-radius: 50%;
				background-color: $primaryMain;
				box-shadow: 0 0 0px 5px $secondaryMain;
				margin-left: -1.5rem;
				margin-right: 1.5rem;
			}
		}
	}
	>* {
		margin-bottom: 5px;
		margin-left: 20px;
	}
}


