@media (min-width: 850px) {
  .cardShadow {
    transition: all 500ms ease-in-out;
    box-shadow: 0px 3px 0px 0px #e04343;
    &:hover {
      box-shadow: 0px 3px 0px 0px #fbff00;
      transform: translate(0, -15px);
    }
  }
}
