@import "/src/styles/variable.scss";

.cardShadow {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.dashboardCardFont {
  font-family: "GothamRoundedBook" !important;
  font-weight: 600;
  color: #555;
}